body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo{
  justify-items: center;
  justify-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.imglogo{
  width: 8%;
}

.userOne,.heading,.Home,.planing,.Congratulations,.buttombtn{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
 
}


.textarea{
  align-items: center;
  align-items: center;
  display: inline-grid;
  width: 33%;
}

.card{
  width: 10rem;
  text-align: left;
  margin-right: 10px;
  padding: 10px;
  
}

.btnmargin{
  margin-right: 2rem !important;
}

.bgdot{
  height: 70px !important;
  width: 70px !important;
  background-color: #3f51b5;
  border-radius: 100%;
  display: inline-block;
}

.iconlogo{
  color: #fff;
  width: 60px !important;
  height: 60px !important;
}

.buttonGroth{
   text-align: center !important;
   justify-content: center !important;
   justify-items: center !important;
}
